[build-system]
requires = [
    "setuptools>=42",
    "wheel",
    "setuptools_scm[toml]>=3.4",
    "setuptools_scm_git_archive",
]
build-backend = "setuptools.build_meta"

[tool.setuptools_scm]
fallback_version = "999"

[tool.ward]
path = ["tests"]
exclude = ["tests/.ipynb_checkpoints"]
capture-output = true
order = "random"
output-mode = "test-per-line"  # or 'dots-global', 'dot-module'
fail-limit = 20
progress-style = ["bar"]

[tool.pytest.ini_options]
addopts = "--doctest-modules --ignore=noxfile.py -n=auto -v --durations=5"
doctest_optionflags = 'NORMALIZE_WHITESPACE IGNORE_EXCEPTION_DETAIL NUMBER'
testpaths = [
    "async_retriever",
]
